# CHAPTER - 1 PRINT

In [ ]:
name="Areeb"
print(name)

In [ ]:
name="Areeb Mirza"
print(name)

In [ ]:
floogle="Areeb Mirza"
print(floogle)

# CHAPTER - 2 VARIABLES FOR STRINGS

In [ ]:
lesson_author="Areeb"
print(lesson_author)

In [ ]:
last_name="Mirza Sahaab"
city_of_origin="Karachi"
date_of_birth="30 October 1994"
print(last_name,city_of_origin,date_of_birth)

# CHAPTER - 3 VARIABLES FOR NUMBERS

In [ ]:
weight=76
weight=weight+2
print(weight)

In [ ]:
original_num = 100
num_to_be_added=7
new_num=original_num+num_to_be_added
print(new_num)

In [ ]:
weight+original_num

In [ ]:
prime_number_that_comes1st=2
print(prime_number_that_comes1st)

# CHAPTER - 4 MATH EXPRESSIONS : FAMILIAR OPERATORS

In [ ]:
popular_number=4
popular_number=2+2
print(2+2)

In [ ]:
loss=12-24
print(loss)

In [ ]:
dozen=3*12
print(dozen)

In [ ]:
popular_number=12/4
print(popular_number)

In [ ]:
num=0.75
total=num+200
print(total)

In [ ]:
num=10
another_number=1.5
sum_of_numbers=num+another_number
print(sum_of_numbers)

# CHAPTER - 5 VARIABLE NAMES : LEGAL & ILLEGAL ( LIST OF KEYWORDS THAT ARE RESERVED BY PYTHON)

# CHAPTER - 6 MATH EXPRESSIONS : UN-FAMILIAR OPERATORS

In [ ]:
what_left_over=10%3
print(what_left_over)

In [ ]:
what_lefts_over=9%3
print(what_lefts_over)

In [ ]:
age=24
age=age+1
print(age)

In [ ]:
age=25
age+=1
print(age)

In [ ]:
age=12
age+=50
print(age)

In [ ]:
age=12
age-=2
print(age)

In [ ]:
age=12
age*=3
print(age)

In [ ]:
age=36
amount_to_increment=3
age+=amount_to_increment
print(age)

# CHAPTER - 7 MATH EXPRESSIONS :ELIMINATING AMBIGUITY

I GUESS JUPYTER NOTEBOOK IS SELF-ELIMINATING THE AMBIGUITY 
BY PERFORMING MULTIPLICATION RULE FIRST EVEN WITHOUT BRACKETS. 
SEE RESULT OF LINE 79 AND 80 ITS SAME WITH/WITHOUT BRACKETS.

In [ ]:
total_cost=1+5*4
print(total_cost)

In [ ]:
total_cost=1+(5*4)
print(total_cost)

HERE IN LINE 83 THE AMUIGUITY IS APPLIED JPY RESOLVES THE BRACKET FIRST BUT THAT IS ADDITION 
AFTER MULTIPLICATION IN PATTERN WITH ALGEBRA.

In [ ]:
total_cost=(1+5)*4
print(total_cost)

In [ ]:
another_example=2*4*4+2
print(another_example)

In [ ]:
another_example=(2*4)*4+2
print(another_example)

In [ ]:
another_example=2*4*(4+2)
print(another_example)

In [ ]:
another_example=(2*4)*2+4
print(another_example)

In [ ]:
another_example=((2*4)*4)+2
print(another_example)

In [ ]:
another_example=((10+5)*4)+5
print(another_example)

In [ ]:
another_example=2*4*2+4
print(another_example)

In [ ]:
another_example=(2*4)*(2+4)
print(another_example)

# CHAPTER - 8 CONCATENATING TEXT STRINGS

In [ ]:
greeting="Asallaam"
greeting_two="O Alaikum"
whole_greeting=greeting+greeting_two
print(whole_greeting)

In [ ]:
greeting="Asallaam"
separators=","
greeting_two="O Alaikum"
punc="!"
whole_greeting=greeting+separators+greeting_two+punc
print(whole_greeting)

In [ ]:
greeting="Asallaam,"
greeting_two="O Alaikum!"
whole_greeting=greeting+greeting_two
print(whole_greeting)

# CHAPTER - 9 IF STATEMENTS

In [ ]:
species="cat"
if species=="cat":
    print("yep, it's a cat.")

In [ ]:

if 2+2==4:
    print("everything makes sense")

In [ ]:
number_of_husbands=1
if number_of_husbands==1:
    print("so far so good")

In [ ]:
species="cat"
kingdom="animal"
food="carnivorus"
if species=="cat":
    if kingdom=="animal":
        if food=="carnivorus":
            print("yes, it's a cat!")

# CHAPTER - 10 COMPARISION OPERATORS

In [ ]:
ticket_number="512512"
serial_number="514514"
if ticket_number=="512512":
    if serial_number=="514514":
        print("ticket is valid.")
        if ticket_number!="512512":
            if serial_number!="514514":
                print("sorry ticket is not valid.")

In [ ]:
customer_id="668"
if customer_id=="666":
    print("please login")
if customer_id!="666":
    print("sorry invalid customer id")

In [ ]:
if 1>0:
    if 0<1:
        if 1>=0:
            if 1>=1:
                if 0<=1:
                    if 1<=1:
                        print("all above statements are true and comparision operators")

# CHAPTER - 11 ELSE AND ELIF STATEMENTS (IF, ELSE, ELIF)

In [ ]:
species="cat"
if species=="cat":
    print("yo! it's cat.")

In [ ]:
species="dino"
if species=="bat":
    print("yes, bat")
    if species!="bat":
        print("not a bat.")

In [ ]:
species="donkey"
if species!="monkey":
    print("no its not monkey")

In [ ]:
num=3
if num<=0:
    print("Positive or Zero")
    else:
        ("print negative number")

In [ ]:
donut_condition="expire"
donut_price=100
if donut_condition=="fresh":
    print("100 Dollars")
    if donut_condition!="fresh":
        print("expire donuts")

# CHAPTER - 12 TESTING SETS & CONDITIONS by (< > <= >=)

In [ ]:
weight=310
time=4
if weight>300 and time<6:
    status="try to recruit him"
    print(status)

In [ ]:
weight=350
time=5
height=72
age=19
if weight>300 and time<6 and age>17 and height<=72:
    status="perfectly match"
    print(status)

In [ ]:
sat=1.9
avg=2.0
gpa=3.5
if sat>avg or gpa>2.5:
    message="welcome to university"
    print(message)

In [ ]:
age=20
res="UK"
if age>65 or (age<21 and res=="UK"):
    message="eligibe"
    print(message)

# CHAPTER - 13 IF STATEMENTS NESTED

In [ ]:
x=5
y=5
a=5
b=5
c=7
d=7
h=x+y+a+b+c+d
if (x==y or a==b) and c==d: 
    g=h
    print(g)

# CHAPTER - 14 COMMENTS

#THIS is a comment
#this is another, comment
#comment with (backets)

# CHAPTER - 15 MAKING LISTS

In [ ]:
city_[0]="Atlanta"
city_[1]="Baltimore"
city_[2]="Chicago"
city_[3]="Denver"
city_[4]="Los Angeles"
city_[5]="Washington"
print("Welcome To"" "+city_3)

#another handy way to make a list, with sequence of values assigning to one variable

In [ ]:
cities=["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Washington"]
cities.append("New York")
print(cities)

In [ ]:
print("Welcome To"" "+cities[4])

# CHAPTER - 16 ADDING AND CHANGING ELEMENTS

In [ ]:
cities=["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Washington"]
cities.append("New York")
print(cities)

In [ ]:
cities=["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Washington"]
cities.append("New York")
cities.append("California")
cities.append(97)
print(cities)

In [ ]:
cities=cities+["Houston", "New Orleans"]
print(cities)

In [ ]:
cities.insert(0,"Greenwich")
print(cities)

In [ ]:
cities.insert(2,"Dallas")
print(cities)

In [ ]:
cities[3]="Indiana"
print(cities)

# CHAPTER - 17 TAKING SLICES OUT OF THEM

In [ ]:
smaller_list_cities=["Atlanta", "LA", "California", "Georgia", "Phoenix"]
print(smaller_list_cities)
smaller_list_cities=cities[2:4]
print(smaller_list_cities)

# CHAPTER - 18 DELETING AND REMOVING ELEMENTS

In [ ]:
task=["email frank", "call sarah", "meet with chef"]
#task[0]isemailfrank
#task[1]iscallingsarah
#task[2]ismeetingwithchef
#according to the deafault python index
print(task)

In [ ]:
del task[0]
print(task)
#python deleted task 0 , but avoid gaps, so oython again sets the task at index 0 and task1

In [ ]:
task.remove("call sarah")
print(task) #another way to remove task by variable name instead of index number

# CHAPTER - 19  LIST: POPPING ELEMENTS

In [ ]:
tasks=["call my girl friend", "email the issue to my team", "meeting with ronaldo"]
print(tasks)

In [ ]:
task_accomplished=tasktasks=["call my girl friend", "email the issue to my team", "meeting with ronaldo"]
print(tasks)
s.pop(1)
print(task_accomplished)

In [ ]:
task_accomplished=tasks.pop(1)
print(task_accomplished)

In [ ]:
tasks.append (tasks.pop(0))
print(tasks)

In [ ]:
tasks.insert(1,tasks.pop(0))
print(tasks)

# CHAPTER - 20 TUPLES

In [ ]:
states_in_order_of_founding=("Delaware", "New Jersey", "New Orleans also known as the people state", "Georgia")
second_state_founded=states_in_order_of_founding[2]
print("The second state founded was"" "+ second_state_founded)

# CHAPTER - 21 LOOPS IF, FOR , BREAK

In [ ]:
cleanest_cities=["Karachi", "Islamabad", "Lahore", "Rawalpindi", "Hunza"]
city_to_check="Hunza"
if city_to_check==cleanest_cities[0]:
    print("it's one of the cleanest cities")
    elif city_to_check==cleanest_cities[1]:
        print("it's one of the cleanest cities")
        elif city_to_check==cleanest_cities[2]:
            print("it's one of the cleanest cities")
            elif city_to_check==cleanest_cities[3]:
                print("it's one of the cleanest cities")
                elif city_to_check==cleanest_cities[4]:
                    print("it's one of the cleanest cities")

In [ ]:
cleanest_cities=["Karachi", "Islamabad", "Lahore", "Rawalpindi", "Hunza"]
city_to_check="Lahore"
for a_clean_city in cleanest_cities:
    if city_to_check==a_clean_city:
        print("its one of the cleanest cities")

In [ ]:
cleanest_cities=["Karachi", "Islamabad", "Lahore", "Rawalpindi", "Hunza"]
city_to_check="Islamabad"
for a_clean_city in cleanest_cities:
    if city_to_check==a_clean_city:
        print("its one of the cleanest cities") 
        #now stopping loop by "break."
        break

# CHAPTER - 22 FOR LOOPS NESTED

In [ ]:
first_names=["Blue Ray", "Upchuck", "Lojack", "Gizmo", "Do-rage"]
last_names=["Dvd", "Burp", "Dogbone", "Drone","Ralph"]
full_names=(first_names+last_names)
print(full_names)

In [ ]:
#python displaying list format the full names separately (first & last name isnt togather above)

In [ ]:
#now trying to combine the first name of list with the first name of second list that is last name through indexing

In [ ]:
first_names=["Blue Ray", "Upchuck", "Lojack", "Gizmo", "Do-rage"]
last_names=["Dvd", "Burp", "Dogbone", "Drone","Ralph"]
full_names=(first_names[0]+last_names[0],first_names[1]+last_names[1],first_names[2]+last_names[2],first_names[3]+last_names[3],first_names[4]+last_names[4])
print(full_names)

In [ ]:
#NOW USING "NESTED FOR" STATEMENTS

In [ ]:
first_names=["Blue Ray", "Upchuck", "Lojack", "Gizmo", "Do-rage"]
last_names=["Dvd", "Burp", "Dogbone", "Drone","Ralph"]
full_names=[]
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name+" "+a_last_name)
        print(full_names)

In [ ]:
first_names=["Areeb", "Ateeb", "Talha", "Ayan", "Farah","Nawaid"]
last_names=["Baig", "Mirza", "Qureshi", "Mughal","Sultan"]
full_names=[]
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name+" "+a_last_name)
        print(full_names)

# CHAPTER - 23 GETTING INFORMATION FROM THE USERS & CONVERTING STRINGS & NUMBERS

In [ ]:
cities=["Karachi", "Lahore", "Islamabad"]
city_to_check=input("Enter the name of city:")

In [ ]:
monthly_income_as_an_integer=int(5000*10)
print(monthly_income_as_an_integer)

In [ ]:
salary_01=float(3.5*2.7)
print(salary_01, "$")

In [ ]:
x=int(input("Enter num of girls"'\n'))
y=int(input("Enter num of boys"'\n'))
print("there are " +str(x) +" girls and "+str(y)+" boys in my class")#type casting
z=x+y
print("total students are: ",z)

In [ ]:
#by defult input()=str
x=int(input())#casting
print(type(x))

In [ ]:
a=int(input("Enter number of girls"'\n'))
b=int(input("Enter number of boys"'\n'))
print("there are " +str(a) +" girls and "+str(b)+" boys in class")#typecasting
c=a+b
print("total students are: ",c)

In [ ]:
print("Enter your first name")
first_name=input()
print("Enter your last name")
last_name=input()
print(" now displaying your full name after concatenation... "+first_name+" "+last_name)

# if statments in python syntex: if [variable/opertion] [conditional operator] [condition(value)][:]

In [ ]:
tp=int(input("What is price pre kg"))
if tp==100:
    print("buy one kg")
else:
    print("do not buy")

In [ ]:
x=float(input("Enter any num"'\n'))
if x%2!=0:
    print("odd")
else:
    print("even")

In [ ]:
x=int(input("enter 1st num"))
y=int(input("enter 2nd num"))
if x==y:
    print ("equal")
else:
    print("not equal")

in python there is no ++a or a++ in python x=x+1 or x +=1 also x *=1 x -=1

in python by-defult division is in float type / for float divion // for int divion % for remainder

In [ ]:
19/2

In [ ]:
19//2

In [ ]:
14.8//2

In [ ]:
14//2

In [ ]:
14%8

In [ ]:
int(19/2)#type casting

In [ ]:
numOfStudents=200
print("there is "+ str(numOfStudents)+ " in my class")
numOfStudents=50097
print(numOfStudents)

# CHAPTER - 24 CHANGING CASES LOWER AND UPPER AND TITLE

In [ ]:
cleanest_countries=["USA", "Australia", "Spain", "Poland"]
country_to_check=input("Enter your country:")
country_to_check=country_to_check.lower()#converts user input to lower case
for a_clean_country in cleanest_countries:
    if country_to_check==a_clean_country:
        print("Its one of the cleanest country in the World")

In [ ]:
cleanest_countries=["USA", "Australia", "Spain", "Poland"]
country_to_check=input("Enter your country:")
country_to_check=country_to_check.upper()#converts user input in upper case
for a_clean_country in cleanest_countries:
    if country_to_check==a_clean_country:
        print("Its one of the cleanest country in the World")

In [ ]:
cleanest_countries=["USA", "Australia", "Spain", "Poland"]
country_to_check=input("Enter your country:")
country_to_check=country_to_check.lower()#converts user input in upper case
country_to_check=country_to_check.title()#converts first alphabet of any element into capital
for a_clean_country in cleanest_countries:
    if country_to_check==a_clean_country:
        print("Its one of the cleanest country in the World")

# PROGRAM TO KNOW ESCAPE CHARACTERS

In [ ]:
x=input("Enter 1st line/word"'\n')
y=input("Enter 2nd line/word"'\n')
print("Escape Character No-1 [\] Prints Backslash b/w to lines/word.")
print(x,y,sep="\\")
print("Escape Character No-2 [\`] Prints single-quote b/w to lines/word.")
print(x,y,sep="\'")
print('Escape Character No-3 [\\"] Prints double-quote b/w to lines/word.')
print(x,y,sep="\"")
print("Escape Character No-4 [\\a] Prints \a b/w to lines/word.")
print(x,y,sep="\a")
print("Escape Character No-5 [\\b] Backspace ( BS ) removes previous character.")
print(x,y,sep="\b")
print("Escape Character No-6 [\\f] Forwardfeed ( FF )")
print(x,'\f',y)
print("Escape Character No-7[\\n] Linefeed ( LF )")
print(x,'\n',y)
print("Escape Character No-8[\\r] Carriage return (CR). Moves all characters after ( CR ) the beginning of the line while overriding same number of characters moved.")
print(x,y,sep='\r')
print("Escape Character No-9[\\t] Vertical TAB")
print(x,'\t',y)
print("Some other escape characters are:"'\n'"10-\\uxxxx Prints 16-bit hex value Unicode character."'\n'
"11-\\uxxxxxxxx Prints 32-bit hex value Unicode character."'\n'"12-\\ooo Prints character based on its octal value."'\n'
"13-\\xhh Prints character based on its hex value.")
print("Areeb Mirza",end='#')

# escape characters

In [ ]:
#escape sequence \n
print("Pakistan\nZindabad")

In [ ]:
#escape sequence \t
print("Pakistan\tZindabad")

In [ ]:
#escape sequence \a
print("Pakistan\aZindabad")

In [ ]:
#print b/w two words \'
print("Pakistan\'Zindabad")

# PRACTICING THE WHILE LOOPS

In [ ]:
num=0
table=2
while num<10:
    num += 1
    res=table*num
    print(table,"*",num,"=",res)

In [ ]:
num=0
table=int(input("Which table do you want pythone to generate for you ?"))
interval=int(input("What should be the Table Interval "))
itr=int(input("What should be the iteration ?"))
print("Following is your Table you should learn it by heart")
while num<itr:
    num += interval
    res=table*num
    print(table,"*",num,"=",res)

In [ ]:
num=0
table=3
while num<10:
    num+=1
    res=table*num
    print(table,"*",num,"=",res)

# PRACTICING FOR NESTED LOOP

In [ ]:
first_names=["Areeb", "Ateeb", "Talha", "Ayan", "Farah","Nawaid"]
last_names=["Baig", "Mirza", "Qureshi", "Mughal","Sultan"]
full_names=[]
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name+" "+a_last_name)
        print(full_names)